<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2>Login</h2>
            <button class="close-btn">X</button>
        </div>
        <form class="auth-form">
            <div class="input-group">
                <input type="text" id="login" placeholder="Введите ваш логин">
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="Введите пороль">
            </div>
            <div class="register-hint">
                <a routerLink="/register" class="register-link">Register</a>
            </div>
            <button type="submit" class="submit-btn">Login</button>
        </form>
    </div>
</div>
