<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="auth-container">
        <div class="auth-card">
            <div class="auth-header">
                <h2>Login</h2>
                <button class="'close-btn">&times</button>
            </div>
        </div>
    </div>
    <form class="auth-form">
        <div class="input-group">
            <label for="login">Login</label>
            <input type="text" id="login" placeholder="Введите ваш логин"> 
        </div>
        <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Введите вас пороль">
        </div>
        <div class="auth-actions">
            <button type="submit" class="submit-btn">Login</button>
            <a class="switch-link">Register</a>
        </div>
    </form>
</body>
</html>
