<div class="auth-container">
    <div class="auth-card">
        <div class="auth-header">
            <h2>Login</h2>
            <button class="close-btn">X</button>
        </div>
        <form class="auth-form">
            <div class="input-group">
                <input type="text" id="login" placeholder="Введите ваше имя или никнейм">
            </div>
            <div class="input-group">
                <input type="password" id="password" placeholder="придумайте пороль пороль">
            </div>
            <div class="register-hint">
                <a routerLink="/login" class="register-hint">Login</a>
            </div>
            <button type="submit" class="submit-btn">Register</button>
        </form>
    </div>
</div>

